/* Adding Arial Font Variants */
@font-face {
  font-family: "Arial Black";
  src: url("../arial-font/Arial Black.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Bold";
  src: url("../arial-font/Arial Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Bold Italic";
  src: url("../arial-font/Arial Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Italic";
  src: url("../arial-font/Arial Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../arial-font/Arial Narrow.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Narrow Bold";
  src: url("../arial-font/Arial Narrow Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Narrow Italic";
  src: url("../arial-font/Arial Narrow Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../arial-font/Arial Rounded Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Unicode";
  src: url("../arial-font/Arial Unicode.ttf") format("truetype");
}

@font-face {
  font-family: "Arial";
  src: url("../arial-font/Arial.ttf") format("truetype");
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
}

main {
  overflow-x: hidden;
}
